$this: ".camera";

#{$this} {
    position : fixed;
    z-index  : 10;

    @include flex();

    &__overlay {
        position: absolute;
        top     : 0;
        right   : 0;
        bottom  : 0;
        left    : 0;

        color     : white;
        background: rgba(0, 0, 0, 0.5);

        + div {
            @include flex();
        }
    }

    &__content {
        position: absolute;
        @include flex();

        flex-direction: column;
    }

    &__btn {
        position: absolute;
        z-index : 40;
        width   : 100px;
        height  : 100px;
    }

    video {
        object-fit: cover;
        filter   : blur(10px);
        transform: scale(1.05);

        @include flex();
    }
}
